$black-color: #000000;
$black-second-color: #080923;
$gray-color: rgba(11, 12, 11, 0.6);
$gray-back-color: #f9f9f9;
$green-color: #51bb87;
$green-back-color: #edf1ef;

$main-font: "Inter", sans-serif;
